# string continution
### data structures in python 
* list
tuple
dictionaries

In [8]:
G= "    APSSDC COURSE    "
print(G)

    APSSDC COURSE

In [7]:
G.center(14,"&")
len(G)

13

In [9]:
a=" my name is: {}"
name= " n.s.raghava y19ec131 ""
a.format(name)

' my name is:  n.s.raghava y19ec131'

In [32]:
a="my name is:{}, roll  is:{}, email id:{}"
name="n.s.raghava"
roll  =131
mail= "nelluriraghavagmail.in"
a.format(name,roll,mail)

'my name is:n.s.raghava, roll  is:131, email id:nelluriraghavagmail.in'

In [34]:
a="coding"
a.isalpha()

True

In [36]:
a.isdigit()

False

In [38]:
a="456"
a.isdigit()

True

In [40]:
b="123*"
a.isdigit()

True

In [45]:
a= "raghava"
a.find('7')

-1

In [46]:
a.find('gh')

2

In [47]:
a.find('gha')

2

In [53]:
a.replace('raghava','sudheer')

'sudheer'

In [54]:
a.replace('raghava','ece')

'ece'

In [56]:
c= "hacker"
c.swapcase()

'HACKER'

In [57]:
c="PROGRAMMER"
c.swapcase()

'programmer'

In [73]:
d={86:93}
s="GOOD MORNING"
s.translate(d)

'GOOD MORNING'

In [76]:
# startswith
s="ECERVR"
s.startswith("E")

True

In [77]:
# INDEX
s.index("ER")

2

In [92]:
b='college of engineering RVR STUDENT...'
count=0
for i in b:
    count+=1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37

In [96]:
print(b[21:23])

g

In [98]:
ord('G')

71

# TASK_1:

--abc mno
--def pqr
# task-2:
*s="APSSDCAPSSDC"----> INPUT
*RES='APSSDC'--------->OUTPUT
# TASK --3
* g= 'ABCefg123@s%ABCabc'
*upper LOWER.special symbols.len

In [ ]:
# DATA STRUCTURS IN PYTHON PROGRAMMING
1.--> store different data types

In [101]:
l=[] #  empty list 
print(type(l))

<class 'list'>

In [102]:
l1=['student','professor','staff','library',1975,11,45]
l1[4:6]

[1975, 11]

In [104]:
l2=['triode','diode',250,'science',458,'tools']
l2[-2:-3]

[]

In [105]:
l2[5] # reverse

'tools'

In [108]:
l2=l2[::-1]

In [113]:
d="TVS"
e="HONDA"
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [115]:
a="student",122,4545,'jhg',456
b='rollno',451,121
c=a+b

In [116]:
c

('student', 122, 4545, 'jhg', 456, 'rollno', 451, 121)

In [121]:
[1,2,m5,5,9,3,7]
c.append(15
print('a')

SyntaxError: invalid syntax (<ipython-input-121-60a2e3a427a6>, line 3)

In [122]:
c.clear()

AttributeError: 'tuple' object has no attribute 'clear'